table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    background-color: lightblue;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    background-color: slateblue;
}