@keyframes blur-in {
  from {
    backdrop-filter: blur(0) brightness(100%);
  }
  to {
    backdrop-filter: blur(2px) brightness(87%);
  }
}

#backgroundBlurrer {
  backdrop-filter: blur(2px) brightness(87%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;

  animation-name: blur-in;
  animation-duration: 0.75s;
}
